{% for audiobooks in site.data.audiobooks %}
{% if page.id == 'overview'  %}
<div class="vpad--md bg--beige">
  <div class="container">
    <div class="row  row--xl-4-4-4 row--md-6-6 row--gutters">
{% else %}
<div class="vpad--xxl bg--beige">
  <div class="container">
    <div class="width width--lg">
       <div class="text text--xl text--justify">
         <h2 class="title title--md text--left text--semibold text--bv-darkgrey">{{audiobooks.id}}</h2>
         <div class="space--xs"></div>
         <p>{{page.intro}}</p>
       </div>
    </div>
    <div class="space--xxl"></div>
    <div class="row  row--xl-4-4-4 row--md-6-6 row--gutters">
{% endif %}


{% for sample in audiobooks.samples.items %}

        {% include page/audio-sample.html %}

{% endfor %}

      </div>
  </div>
</div>
{% endfor %}
<!--
<script src="{{site.js}}/audioplayer.js"></script>-->
<script>

  var bvOverlay1 = document.getElementById("bv-overlay-one");
  var bvOverlay2 = document.getElementById("bv-overlay-two");
  var bvOverlay3 = document.getElementById("bv-overlay-three");
  var bvCaption1 = document.getElementById("bv-caption-one");
  var bvCaption2 = document.getElementById("bv-caption-two");
  var bvCaption3 = document.getElementById("bv-caption-three");
  //  console.log(bvOverlay2);
  bvOverlay1.onmouseover = function() {
  	bvCaption1.style.visibility = "visible";

  }
  bvOverlay1.onmouseout = function() {
  	bvCaption1.style.visibility = "hidden";
  }

  bvOverlay2.onmouseover = function() {
  	bvCaption2.style.visibility = "visible";
  }
  bvOverlay2.onmouseout = function() {
  	bvCaption2.style.visibility = "hidden";
  }

  bvOverlay3.onmouseover = function() {
  	bvCaption3.style.visibility = "visible";
  }
  bvOverlay3.onmouseout = function() {
  	bvCaption3.style.visibility = "hidden";
  }


// audioPlayer

</script>
<script>
/*
  var bvOverlay1 = document.getElementById("bv-overlay-one");
  var bvOverlay2 = document.getElementById("bv-overlay-two");
  var bvOverlay3 = document.getElementById("bv-overlay-three");
  var bvCaption1 = document.getElementById("bv-caption-one");
  var bvCaption2 = document.getElementById("bv-caption-two");
  var bvCaption3 = document.getElementById("bv-caption-three");
  //  console.log(bvOverlay2);
  bvOverlay1.onmouseover = function() {
  	bvCaption1.style.visibility = "visible";

  }
  bvOverlay1.onmouseout = function() {
  	bvCaption1.style.visibility = "hidden";
  }

  bvOverlay2.onmouseover = function() {
  	bvCaption2.style.visibility = "visible";
  }
  bvOverlay2.onmouseout = function() {
  	bvCaption2.style.visibility = "hidden";
  }

  bvOverlay3.onmouseover = function() {
  	bvCaption3.style.visibility = "visible";
  }
  bvOverlay3.onmouseout = function() {
  	bvCaption3.style.visibility = "hidden";
  }

*/
// audioPlayer

</script>
