<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/wellness-01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/wellness-02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/wellness-03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--lg">
      <div class="text--center">
        <h2 class="core-title core-title--xl">Deals mit Entspannungsfaktor</h2>
        <div class="container container--no-padding container--md">
          <p class="text--lg vpad--xxs">Wellness im Gebirge, Saunenwelten Südeuropas und Spa-Luxus in Asien.</p>
          <div class="space--sm"></div>
          <a id="track-btn-current-sales" href="http://bit.ly/2SSiALD" class="btn btn--orange" target="_blank">Atem holen</a>
        </div>
      </div>
    </div>
  </div>
</div>
