---
layout: default
id: wellness
title: Wellness & Spa
nav: true
nav-order: 4
nav-title: Wellness & Spa
content-pages: true
extra-js: true
extra-css: true

banner:
  title: Wellness &&nbsp;Spa
  title-sup: Alles eine Frage der Balance
  title-size: banner-title--xxl
  bg-hero: "background-position: 72% center;"

page-nav:
  - id: royal
    title: Royale Wellness
  - id: alpin
    title: Alpine Wellness
  - id: weltweit
    title: Wellness weltweit

summary: "Um die Balance zwischen Körper und Geist zu finden, muss man nicht weit reisen. Auch nicht, wenn man die Wahl zwischen edlen Saunen&shy;welten vor Alpen&shy;gipfeln, orienta&shy;lischen Oasen in Wüsten&shy;land&shy;schaften und Spas im balinesischen Dschungel hat. Für die Daheim&shy;gebliebenen warten zwischen Ostsee und Ober&shy;bayern vielfältige Ent&shy;spannungs&shy;möglich&shy;keiten. Passend dazu: hochwertige Hörkost, die zum Nachdenken&nbsp;anregt."
cta: Zur Balance

intro-title: "Entspannung für die&nbsp;Ohren"
intro: "Es gibt viele Arten, langersehntes Wohl&shy;befinden wieder herzustellen: Ent&shy;spannung in Sauna&shy;welten, endlose Erholung in Infinity-Pools oder körper&shy;liche Well&shy;ness mit Lomi-Lomi-Massagen. Entschweben Sie dazu mit diesen Hörbüchern."

---



{% include audiobooks/regio-audiobooks.html %}

{% if page.page-nav %}{% include nav/page.html %}{% endif %}

{% for section in site.data[page.id] %}

<div class="" id="{{section.id}}">
  <div class="bv-parallax vpad--md" style="background-image:url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg); background-repeat:no-repeat; background-size:cover; {{section.bg-pos}}">
  <div class="container ">
      <div class="space--xxxl vpad--xl bv-mob-hide"></div>
      <div class="space--xxxl"></div>
      <div class="space--xxxl"></div>
      <div class="space--xxxl"></div>
      <div class="width width--xxl text--white" >
        <div class=" text--left bg--black boxpad--xxl">
          <h1 class="title title--sm text--semibold text--upper ">{{section.title}}</h1>
          <p class="text text--lg ">{{section.description}}</p>
        </div>
       </div>

    </div>
</div>
<div class="container vpad--md text--center">
     {% for poi in section.pois.items %}

     <div class="row vpad--sm row--6-6 row--gutters text--left {% cycle '', 'bv-swap' %}">
        <div class="col ">
          <div id="slider-{{forloop.index}}" class="js-slider slider">
          <div class="slider__images">
            <noscript class="js-lazy-load-slider">
            <!--   {% for images in section.pois.items.title.hotel-img %}
              <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/{{images.img}}.jpg" />

              {% endfor %}-->

             <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/01.jpg" />
             <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/02.jpg" />
             <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/03.jpg" />
             <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/04.jpg" />
             <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}/05.jpg" />
            </noscript>
          </div>
          <div class="slider__btn-wrap">

            <span class="js-slider-nav slider__btn slider__btn--left" data-slider-nav-direction="prev"></span>
            <span class="js-slider-nav slider__btn slider__btn--right" data-slider-nav-direction="next"></span>
            <div class="slider__copyright text text--white text--semibold text--xs" >{{poi.copyright}}</div>
          </div>
        </div>
      </div>
         <div class="col text--left">
           <h5 class="text text--lg text--bold text--upper text--bv-grey">{{poi.location}}</h5>
           <div class="space--xxs"></div>
           <h2 class="title title--sm text--semibold ">{{poi.title}}</h2>
           <div class="space--sm"></div>
           <div class="text text--xl text--justify">{{poi.content}}</div>
           <div class="space--xxs"></div>
         </div>



     </div>

        {% endfor %}

  </div>

</div>

{% endfor %}


{% include page/wellness-offers.html %}


<script>


var bvOverlay7 = document.getElementById("bv-overlay-7");
var bvOverlay8 = document.getElementById("bv-overlay-8");
var bvOverlay9 = document.getElementById("bv-overlay-9");

var bvCaption7 = document.getElementById("bv-caption-7");
var bvCaption8 = document.getElementById("bv-caption-8");
var bvCaption9 = document.getElementById("bv-caption-9");


bvOverlay7.onmouseover = function() {
  bvCaption7.style.visibility = "visible";
}
bvOverlay7.onmouseout = function() {
  bvCaption7.style.visibility = "hidden";
}

bvOverlay8.onmouseover = function() {
  bvCaption8.style.visibility = "visible";
}
bvOverlay8.onmouseout = function() {
  bvCaption8.style.visibility = "hidden";
}

bvOverlay9.onmouseover = function() {
  bvCaption9.style.visibility = "visible";
}
bvOverlay9.onmouseout = function() {
  bvCaption9.style.visibility = "hidden";
}

</script>
