---
layout: default
id: strandurlaub
title: Strandurlaub
content-pages: true
extra-js: true
nav: true
nav-order: 2

banner:
  title: Strand&shy;urlaub
  title-sub: Sonnencreme nicht vergessen

summary: "Kein Wunder, dass Strandurlaub der Klassiker bleibt. Gibt es doch kaum zwei Strände, die einander gleichen. Als Beweis ziehen gleich sieben Beaches weltweit ins Feld: Karibik und Indischer Ozean, schwarze und glitzernd-weiße Strände, Küsten und Buchten an der Algarve, in Sardinien und Südamerika, dazu drei spannende Hörausflüge."
cta: Sonne tanken

intro-title: "Wolkenfrei mit Aussicht auf Hörspaß"
intro: "Im Blick: nichts als Sandstrand und tiefblaues Meer (und ein wenig Palmengrün, Dünengras oder Felsenklippen). Auf der Haut: Meeresbrise und Sonnenstrahlen. Im Ohr: Kurzweil mit Spannung für Entspannung dank dieser Hörbücher."

---


{% include audiobooks/regio-audiobooks.html %}

{% for section in site.data[page.id] %}

<div id="{{section.id}}" class="harvey{% cycle '', ' harvey--swap bg--light' %}">
    <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}.jpg');"></div>
    <div class="harvey__text vpad--xl boxpad--xl">
      <h2 class="text text--lg text--bold text--upper text--bv-grey">{{section.location}}</h2>
      <div class="space--sm"></div>
      <h2 class="title title--sm text--semibold ">{{section.title}}</h2>
      <div class="space--md"></div>
      <div class="text text--xl text--justify">{{section.description}}</div>
      <div class="space--xl bv-mob-hide"></div>
    </div>
</div>

{% endfor %}


<script>


var bvOverlay1 = document.getElementById("bv-overlay-1");
var bvOverlay2 = document.getElementById("bv-overlay-2");
var bvOverlay3 = document.getElementById("bv-overlay-3");

var bvCaption1 = document.getElementById("bv-caption-1");
var bvCaption2 = document.getElementById("bv-caption-2");
var bvCaption3 = document.getElementById("bv-caption-3");


  //console.log(bvOverlay2);
bvOverlay1.onmouseover = function() {
  bvCaption1.style.visibility = "visible";
}
bvOverlay1.onmouseout = function() {
  bvCaption1.style.visibility = "hidden";
}

bvOverlay2.onmouseover = function() {
  bvCaption2.style.visibility = "visible";
}
bvOverlay2.onmouseout = function() {
  bvCaption2.style.visibility = "hidden";
}

bvOverlay3.onmouseover = function() {
  bvCaption3.style.visibility = "visible";
}
bvOverlay3.onmouseout = function() {
  bvCaption3.style.visibility = "hidden";
}



</script>
