---
layout: default
id: strandurlaub
title: Strandurlaub
content-pages: true
extra-js: true
nav: true
nav-order: 2

banner:
  title: Strand&shy;urlaub
  title-sub: Sonnencreme nicht vergessen
  title-size: banner-title--xl
  bg-hero: "background-position: 65% bottom;"

summary: "Kein Wunder, dass der Strand ein Klassiker unter den Urlaubszielen ist. Ewig locken Meer und Sand – und doch zeigen sie sich stets unterschiedlich. Zum Beweis präsentieren wir hier sieben beliebte Beach-Destinationen weltweit: Von der Karibik bis zum Indischen Ozean, von schwarzen Vulkanstränden bis zu Puder&shy;zuckersand unter Palmen. Passend zum Blick bis zum Horizont gibt es drei Hörausflüge für Perspektiv&shy;erweiterung im&nbsp;Urlaub."
cta: Sonne tanken

intro-title: "Wolkenfrei mit Aussicht auf&nbsp;Hörspaß"
intro: "Im Blick: nichts als Sandstrand und tiefblaues Meer (und ein wenig Palmen&shy;grün, Dünen&shy;gras oder Felsen&shy;klippen). Auf der Haut: Meeres&shy;brise und Sonnen&shy;strahlen. Im Ohr: Kurzweil mit Spannung für Ent&shy;spannung dank dieser Hörbücher."

---


{% include audiobooks/regio-audiobooks.html %}

{% for section in site.data[page.id] %}

<div id="{{section.id}}" class="harvey{% cycle '', ' harvey--swap bg--light' %}">
    <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}.jpg');"></div>
    <div class="harvey__text vpad--xl boxpad--xl">
      <h2 class="text text--lg text--bold text--upper text--bv-grey">{{section.location}}</h2>
      <div class="space--sm"></div>
      <h2 class="title title--sm text--semibold ">{{section.title}}</h2>
      <div class="space--md"></div>
      <div class="text text--xl text--justify">{{section.description}}</div>
      <div class="space--xl bv-mob-hide"></div>
    </div>
</div>

{% endfor %}


<script>

var bvOverlay1 = document.getElementById("bv-overlay-1");
var bvOverlay2 = document.getElementById("bv-overlay-2");
var bvOverlay3 = document.getElementById("bv-overlay-3");

var bvCaption1 = document.getElementById("bv-caption-1");
var bvCaption2 = document.getElementById("bv-caption-2");
var bvCaption3 = document.getElementById("bv-caption-3");


  //console.log(bvOverlay2);
bvOverlay1.onmouseover = function() {
  bvCaption1.style.visibility = "visible";
}

bvOverlay1.onmouseout = function() {
  bvCaption1.style.visibility = "hidden";
}

bvOverlay2.onmouseover = function() {
  bvCaption2.style.visibility = "visible";
}

bvOverlay2.onmouseout = function() {
  bvCaption2.style.visibility = "hidden";
}

bvOverlay3.onmouseover = function() {
  bvCaption3.style.visibility = "visible";
}

bvOverlay3.onmouseout = function() {
  bvCaption3.style.visibility = "hidden";
}

</script>
