<div class="{{include.block}}">
  <a class="{{include.block}}-link" target="_blank" href="https://www.secretescapes.de/current-sales?utm_source=SE&utm_medium=hub&utm_campaign=audible_DE_2019">AKTUELLE ANGEBOTE</a>
  <a class="{{include.block}}-link text--upper" target="_blank" href="https://www.secretescapes.de/unser-geheimnis?utm_source=SE&utm_medium=hub&utm_campaign=audible_DE_2019">Unser Geheimnis</a>
  <a class="{{include.block}}-link text--upper" target="_blank" href="https://www.secretescapes.de/reisekategorien/filter?utm_source=SE&utm_medium=hub&utm_campaign=audible_DE_2019">Reisekategorien</a>
  <a class="{{include.block}}-link is-current" target="_blank" href="{{ site.baseurl }}">{% if site.nav-title %}{{site.nav-title}}{% else %}{{ site.title }}{% endif %}</a>
</div>
