{% include audiobooks/variables.html %}


<div class=" vpad--xl bg--beige " >
  <div class="container ">
    <div class="width width--lg text text--xl text--justify">
    <div class="title title--md text--left text--semibold text--bv-darkgrey">{{page.intro-title}}  </div>
    <div class="space--sm"></div>
      <div class="text text--xl ">{{page.intro}} </div>
    <div class="space--xxl"></div>
  </div>
    <div class="row row--xl-4-4-4 row--md-6-6 row--gutters">
      {% for audiobook in regio-audiobooks %}
        <div class="col">
          {% include audiobooks/audiobook.html %}
        </div>
      {% endfor %}
    </div>
  </div>


</div>
