
@import
  // core
  'core/breakpoints',
  'core/colours',
  'core/z-index',
  'core/core'
;

audio{
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: $bv-beige!important;

  }
