---
layout: default
id: roadtrips
title: Roadtrips
content-pages: 
extra-js: false
nav: false
nav-order: 3

banner:
  title: Roadtrips
  title-sup: Lorem ipsum

page-nav:
  - id: one
    title: Südafrika
  - id: two
    title: Irland
  - id: three
    title: Italien

audiobooks:

  title:
  items:

    - title: Geschichte Lauschen
      id: one
      credit: © SPSG/PMSG, André Stiebitz
      description: "Potsdams Schlösser und Gärten bilden ein perfektes Zusammen&shy;spiel zwischen Kunst und Natur. Sie gehören seit 1990 zum UNESCO-Welterbe. Es reicht vom Park Sanssouci über die Russische Kolonie Alexandrowka, den Neuen Garten bis zum Schloss und Park Babelsberg. Tauchen Sie ein in Potsdams Geschichte zwischen italie&shy;nischem Flair, holländischer Architektur, französischer Kultur und preußischer Struktur."
      url: "https://www.potsdamtourismus.de/kultur-erleben/?utm_medium=ptour-de&utm_source=webse&utm_campaign=traf-web&utm_content=traf-web&utm_term=kultur "

    - title: Wasser Spüren
      id: two
      credit: © SPSG/PMSG, André Stiebitz
      description: "Die Havel mit ihren Seen ist Erholungs&shy;gebiet und Wasser&shy;sport&shy;paradies zugleich. Potsdam, als Insel inmitten dieses Idylls, bietet eine außer&shy;gewöhn&shy;liche Kulisse mit spannenden Sicht&shy;achsen auf die Glienicker Brücke, das Schloss Babelsberg und weiteren Sehens&shy;würdig&shy;keiten. Restaurants und Cafés am Wasser sind für eine kleine Stärkung direkt mit dem Boot zu erreichen. Viele einsame Buchten laden zum Ankern ein."
      url: "https://www.potsdamtourismus.de/wasser-spueren-seensucht-stillen/?utm_medium=ptour-de&utm_source=webse&utm_campaign=traf-web&utm_content=traf-web&utm_term=wasser "

    - title: Filme Kieken
      id: three
      credit: © SPSG/PMSG, André Stiebitz
      description: "In Potsdam Babelsberg liegt die Wiege des deutschen Films. Hier wurde 1911 der Grundstein für das damit älteste Großatelier-Filmstudio der Welt gelegt. Bis heute entstehen hier weltberühmte Werke: Metropolis, Die Blech&shy;trommel, Grand Budapest Hotel, Inglourious Basterds und viele weitere. Das Film&shy;museum Potsdam sowie der Filmpark Babelsberg machen die Traum&shy;fabrik Babelsberg erlebbar."
      url: "https://www.potsdamtourismus.de/filme-kieken-drehorte-entdecken/?utm_medium=ptour-de&utm_source=webse&utm_campaign=traf-web&utm_content=traf-web&utm_term=film "


intro-title: "Hörbücher"
intro: "Lebensfreude und Genuss, dafür sind die Portugiesen bekannt. Gemeinsame Mahlzeiten mit Freunden und der Familie werden zelebriert und kräftige Aromen sowie frische Zutaten mit leichten Weinen kombiniert. Probieren Sie die lokalen Spezialitäten und genießen Sie aufregende Geschmacks&shy;erlebnisse der unvergleichlichen&nbsp;Kulinarik."


---

{% include page/audiobooks.html %}

{% if page.page-nav %}{% include nav/page.html %}{% endif %}

{% for section in site.data[page.id] %}


{% endfor %}

<div class="slideshow">
    <div class="viewport">
        <div class="slides-container">
            <div class="slide bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/slider1/img1.jpg'); ">wefewr</div>
            <div class="slide bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/slider1/img2.jpg'); ">dddddd</div>
            <div class="slide bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/slider1/img3.jpg'); ">fffff</div>
            <div class="slide bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/slider1/img4.jpg'); ">bbbbbb</div>
            <div class="slide bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/slider1/img5.jpg'); ">ttttt</div>
        </div>
    </div>
</div>


<script>
  (function(){
  // Anzahl der Bilder ermitteln
          //var imgCount = document.querySelector('.slide-container').children.length;

  var slideCount = document.querySelectorAll('.slide').length;

  // Slide-Punkte/Links erzeugen

  var linksContainer = document.createElement('div');
  linksContainer.className = 'links';
  for (var index = 0; index < slideCount; index++) {
      var slideLink = document.createElement('a');
      slideLink.href = '#slide-' + (index + 1);
      slideLink.setAttribute('data-ix', index);
      linksContainer.appendChild(slideLink);
      /*
      slideLink.onclick = function() {
          var ix = this.getAttribute('data-ix');
          var position = (-480 * ix) + 'px';
          document.querySelector('.slides-container').style.transform = 'translateX(' + position +')';
          nextIx = (ix + 1) % slideCount;
      }*/
  }
  //

  linksContainer.addEventListener('click', function(ev){
      //Click auf einen Slide-Punkt?
      if (ev.target.tagName === 'A'){
          var ix = parseInt(ev.target.getAttribute('data-ix'));
          var position = (-580 * ix) + 'px';
          document.querySelector('.slides-container').style.transform = 'translateX(' + position +')';
          nextIx = (ix + 1) % slideCount;
      }
  });

  // In den slideshow-div einfügen

  document.querySelector('.slideshow').appendChild(linksContainer);

  //Vor und zurück links

  var prevA = document.createElement('a');
  prevA.classList.add('prev');
  prevA.innerText = '<';
  prevA.href = '#prev';
  prevA.addEventListener('click', function(){
      var ix = (nextIx + slideCount - 2) % slideCount;
          var position = (-580 * ix) + 'px';
          document.querySelector('.slides-container').style.transform = 'translateX(' + position +')';
          nextIx = (ix + 1) % slideCount;
  });

  document.querySelector('.slideshow').appendChild(prevA);


  var nextA = document.createElement('a');
  nextA.classList.add('next');
  nextA.innerText = '>';
  nextA.href = '#next';
  nextA.addEventListener('click', function(){
      var ix = nextIx;
          var position = (-580 * ix) + 'px';
          document.querySelector('.slides-container').style.transform = 'translateX(' + position +')';
          nextIx = (ix + 1) % slideCount;
  });

  document.querySelector('.slideshow').appendChild(nextA);



  var nextIx = 1;

  setInterval(function(){
      var position = (-580 * nextIx) + 'px';
      document.querySelector('.slides-container').style.transform = 'translateX(' + position +')';
      nextIx = (nextIx + 1) % slideCount;
  }, 50000);


  })();


</script>
